version: "3.9"

services:
  backend:
    build: .
    container_name: node-backend
    restart: always
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production
      PORT: 3001
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://62.72.12.124"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - ./logs:/app/logs

networks:
  default:
    driver: bridge
